* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Times New Roman", Times, serif;
}

.calculator {
  display: flex;
  height: 100%;
}

.sub-title {
  font-size: 20px;
  font-weight: 700;
}

.title {
  font-size: 26px;
  font-weight: 900;
}
.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 100%;
}

.num {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.calculator__left-block {
  background-color: fuchsia;
}
.calculator__result {
  background-color: palevioletred;
  justify-content: space-around;
}

.calculator__right-block {
  background-color: aqua;
}

.btn {
  width: 250px;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
}

.num__input {
  font-size: 20px;
  border-radius: 5px;
}

select {
  font-size: 25px;
}
